<exercise name="{{exercise.name}}" sets="{{exercise.sets}}" reps="{{exercise.reps}}" weight="{{exercise.weight}}" unit="{{exercise.unit}}" ng-repeat="exercise in exercises"></exercise>
<md-card>
        <md-toolbar>
                <div class="md-toolbar-tools">
                        <h3>
                                <span>Body Weight</span>
                        </h3>
                        <span flex></span>
                        <h2>{{bodyWeight}}</h2>
                </div>
        </md-toolbar>
</md-card>